{% extends 'base.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Detail</h1>
      <p class="lead">Detail of your task </p>
    </div>
</div>
{% endblock %}


{% block content %}
<div class='container'>
  <div class="alert alert-{{ object.priority }}" role="alert">
    <p>タイトル：{{ object.title }}</p>
    <p>詳細：{{ object.memo }}</p>
    <p>期日：{{ object.duedate }}</p>
  </div>
</div>
{% endblock content%}
